* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.css-1 {
	background-color: pink;
	color: yellow;
	font-size: 40px;
	margin: 30px 0px 0px 30px;
}

.js1, .js2, .js3, .js4 {
	margin: ;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.css-2 {
	background-color: blue;
	color: yellow;
	font-size: 40px;
	margin: 30px 0px 0px 30px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.css-3 {
	background-color: brown;
	color: yellow;
	font-size: 40px;
	margin: 30px 0px 0px 30px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.css-4 {
	background-color: pink;
	color: yellow;
	font-size: 40px;
	margin: 30px 0px 0px 30px;
}